<div class="app-content" (click)="onIntercatWithScreen()">
<app-header></app-header>
<div class="container-fluid app-container">
  <app-splash-screen *ngIf="appSettingService.isBeenAMinute === true"></app-splash-screen>
  <div class="row justify-content-between">
    <div class="contianer-fluid mt-lg-4 mx-auto col-8 px-0 mx-2 full-height">
      <router-outlet></router-outlet>
    </div>
    <div class="col-3 p-0 aside-bg">
      <video  width="320" height="240" playsinline autoplay [muted]="true" loop>
        <source src="assets/sideVideo.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>
<app-loader-spinner></app-loader-spinner>
<app-virtual-keyboard></app-virtual-keyboard>
</div>