<div class="my-overlay" [ngClass]="{'h-0': !loader.loadingVisible}">
  <div class="gray-overlay"></div>
  <span *ngIf="loader.message" class="h2 text-white">{{loader.message}}</span>
  <div class="content text-uppercase">
		<h2>f&nbsp;&nbsp;i&nbsp;&nbsp;n&nbsp;&nbsp;w&nbsp;&nbsp;a&nbsp;&nbsp;y</h2>
		<h2>f&nbsp;&nbsp;i&nbsp;&nbsp;n&nbsp;&nbsp;w&nbsp;&nbsp;a&nbsp;&nbsp;y</h2>
	</div>
  <!-- <div class="d-flex justify-content-center align-items-center mt-5">
    <img src="assets/mg-logo-img.png" height="5%" width="5%" class="mx-4">
    <div class="waviy loader-spinner">
      <span style="--i:1">M&nbsp;&nbsp;</span>
      <span style="--i:2">A&nbsp;&nbsp;</span>
      <span style="--i:3">S&nbsp;&nbsp;</span>
      <span style="--i:4">T&nbsp;&nbsp;</span>
      <span style="--i:5">E&nbsp;&nbsp;</span>
      <span style="--i:6">R&nbsp;&nbsp;</span>
      <span style="--i:7">G&nbsp;&nbsp;</span>
      <span style="--i:8">O&nbsp;&nbsp;</span>
      <span style="--i:9">L&nbsp;&nbsp;</span>
      <span style="--i:10">D&nbsp;&nbsp;</span>
    </div>
  </div> -->
</div>
